.todo-table-div {
  .k-dialog-wrapper {
    position: absolute;
    .k-overlay {
      position: absolute;
    }
  }

  .k-grid td {
    cursor: pointer;
    padding: 7px 12px;
    font-size: 13px;
    &:last-child {
      > button {
        opacity: 0.2;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &:nth-child(3) {
      line-height: 19px;
    }
  }

  .add {
    background: #00c4ff;
    color: white;
    position: absolute;
    right: 13px;
    bottom: 14px;
    outline: none !important;
    box-shadow: none;

    &:active {
      box-shadow: 0 0 5px -3px black;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .today-status {
    font-size: 17px;
    position: absolute;
    left: 3px;
    margin-top: -3px;
  }

  .status {
    width: 80px;
    font-size: 10px;
    padding: 4px 0;
  }

  .remove {
    padding: 0;
    position: absolute;
    right: 10px;
  }
}
