body {
  margin: 0;
  padding: 0;
}

* {
  outline: none !important;
}

button {
  &:focus {
    box-shadow: none !important;
  }
}

.to-do-card {
  box-shadow: 0px 0px 7px -2px black;
  background: white;
  position: relative;
  margin: 10px;
  overflow: hidden;

  > header {
    background: #00c4ff;
  }
}

.k-popup.k-child-animation-container .k-calendar *{
  font-size: 11px;
}
