.task-list-card {
  width: 70%;
  box-shadow: 0px 0px 7px -2px black;
  background: white;
  position: relative;

  > header {
    background: #00c4ff;
  }

  .nav {
    padding: 0 12px;
    cursor: pointer;
  }
}
